<section class="my-1">
    <a href="/produtos/novo" class="btn btn-dark">
        <i class="bi bi-plus"></i>
        Criar produto
    </a>
    <hr>
    <form method="GET">
        <input type="text" name="nomeProduto" placeholder="Nome do Produto" class="form-control form-control-sm " value="{{nomeProduto}}" />
        <button class="btn btn-sm btn-dark mt-1"><i class="bi bi-search">Buscar</i></button>
    </form>
    <div class="table-responsive">
        <table class="table">
        <thead>
            <th>Nome</th>
            <th>Preço</th>
            <th>Descrição</th>
            <th>Quantidade</th>
            <th>Ações</th>
        </thead>
        <tbody>
            {{#each produtos}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.quantity}}</td>
                    <td>
                        <div class="d-flex">
                            <div>
                                <a href="/produtos/editar" class="btn btn-sm btn-warning">
                                    <i class="bi bi-pencil"></i>
                                </a>
                            </div>
                            <div>
                                <a href="/produtos/deletar" class="btn btn-sm btn-danger">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    </div>
</section>